.page-not-found-container {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;

  h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    font-style: italic;
  }

  p {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 300;
    font-style: italic;
  }
}
